.bg-img{
  background-image: url(/img/heeero.jpg);
  height: 940px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 100%;
  margin: auto;
  display: grid;
}

/* Sass SECTION */
 
$bgcolor1: #CC9933;
$bgcolor2: #336666;
$bgcolor3: #660000;
$bgcolor4: #660000;

/* media SECTION */





.navbar li a{

  font-size: 15px;
  margin: 10px 30px 10px 10px;
}
/* NAVBAR     */



/* SIMPLE LOGO     */
.navbar-brand img{
 width:60px;
 
 margin-left: 100px;
 
}

.navbar-text{
  margin-left: 100px;
  margin-top: 10px;
  
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;

}


/* NAVBAR BUTTOM     */
.dk-buttom{
  position: relative;
  float: right;
  margin-right: 100px;
  margin-top: 25px;
 
}

.heading_1{
  position: absolute;
  font-size: 100px;
  color: #ddd;
  text-shadow: 0.8px 0.8px #242323;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 70px;
  margin-left: 100px;
}

.heading_2{
  position: absolute;
  font-size: 90px;
  color: #ddd;
  text-shadow: 0.8px 0.8px #242323;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 170px;
  margin-left: 100px;
}

.navbar-nav li a:hover{
  background-color: rgb(163, 158, 158);
}

.subheading_1{
  margin-top: 270px;
  margin-left: 100px;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}
.subheading_2{
  font-family: 'Times New Roman', Times, serif;
  margin-left: px;
  font-size: 35px;
}


.hr-class-1 {
  margin-left: 100px;
  font-size: 30px;
  width: 230px;
 
}
/* LOGO    */
.main_logo1{
  position: relative;
  width:300px;
  height:300px;
  margin-left: 100px;
  bottom: 40px;
}


.bbq-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

.bbq-info1{
  margin-top: 200px;
  color: #ddd;
  margin-left: 100px;
}


/* info SECTION */

.info_gra{
  background-color: $bgcolor1;
  height: 900px;
}

.viking{
  position: relative;
  bottom: px;
  height: 300px;

}

.kids{
  position: relative;
  width: 500px;
  top: 50px;
  left: 250px;
}
.info_heading1{
  font-size: px;
}

.info_heading{
  font-size: 60px;
}

.viking_text{
  position: relative;
  top: 40px;
  
 
}
.kids_text{
  position: relative;
  top: 30px;
}
.footer{
  background-color: #242323;
  color: #ddd;
  height: 500px;
}

/* info SECTION */


/* BLUE SECTION */
.article-blue {
  color: white;
  background: $bgcolor2;
  padding-top: 25px;
 
  font-family: "Optima", sans-serif;
}

.header{
  font-size: 80px;
 }
 
.blue_subheading{
 font-size: 50px;
 
}

.article-text-blue {
  color: white;
  background-color: $bgcolor2;
  padding-top: 25px;
 
  font-family: "Optima", sans-serif;
}

.article-text-blue {
 
  padding-bottom: 100px;
  padding-top: 25px;

  font-family: "Optima", sans-serif;
}

.article-image-blue {
  position: relative;
  padding-bottom: 50px;
  padding-top: 25px;
 
}
.article-image-blue img {
  height: 400px;
  width: 600px;
  display: grid;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;

}
.button-blue {
  background-color: $bgcolor3;
  width: 200px;
  height: 40px;
  border-radius: 42px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;

}
.button-blue:hover {
color: #5B8484;
  background-color:#CC9933;
}
.button-blue:active {
  position:relative;
  top:1px;
}

/* RED SECTION */

.article {
  color: white;
  background: $bgcolor3;
  padding-top: 25px;
 
  font-family: "Optima", sans-serif;
}

.red_subheading{
  font-size: 42px;
}

.article-text {
 
  padding-bottom: 100px;
  padding-top: 25px;

  font-family: "Optima", sans-serif;
}

.article-image {
  position: relative;
  padding-bottom: 50px;
  padding-top: 25px;
 
}
.article-image img {
  height: 400px;
  width: 600px;
  display: grid;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;

}
.button {
  background-color:#5B8484;
  width: 200px;
  height: 40px;
  border-radius:42px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;

}
.button:hover {
color: #5B8484;
  background-color:#CC9933;
}
.button:active {
  position:relative;
  top:1px;
}

.image-gallery{
  background-color: #CC9933;

}

 .slider {
  display: flex; flex: 1;
     height: 350px;
   background-color:$bgcolor1;
     max-height: auto;
     overflow-y: hidden;
     overflow-x: scroll !important;
     padding: 69px;
     transform: scroll(calc(var(--i,0)/var(--n)*-100%));
     scroll-behavior: smooth;
   
}
 .slider::-webkit-scrollbar {
     height: 15px;
   
     
   
}
 .slider::-webkit-scrollbar-track {
     background: transparent;
}
 .slider::-webkit-scrollbar-thumb {
     background: rgb(69, 69, 69);
}
 .slider::-webkit-scrollbar-thumb:hover {
     background: #555;
}
 .slider img:hover {
     transform: scale(1.05);
     box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
 .slide {

     position: relative;
}

 .slide img {
     height: 180px;
     width: 180px;
     margin: 0 5px;
     object-fit: cover;
     border-radius: 7px;
     cursor: pointer;
     transition: .15s ease-in-out;
}

.slide img.zoomed{
    width: 500px;
    height: 600px;
    position: fixed;
    left: 25%;
    top: 0%;
    z-index: 1000;
        transform: scale(1) translatey(0) !important;
   
}


 @media only screen and (max-width: 420px) {
     .slider {
         padding: 0;
    }
     .slide {
         padding: 16px 10px;
    }
     .slide img {
         margin: 0;
    }
     .control-prev-btn {
         top: 37%;
    }
     .control-next-btn {
         top: 37%;
    }
}

@media only screen and (max-width: 420px) {
  .info_left_text {
    position: relative;
      bottom: 100px;
 }
  .slide {
      padding: 16px 10px;
 }
  .slide img {
      margin: 0;
 }
  .control-prev-btn {
      top: 37%;
 }
  .control-next-btn {
      top: 37%;
 }
}

.article-orange {
  color: white;
  background: $bgcolor2;
  padding-top: 25px;
 
  font-family: "Optima", sans-serif;
}

.article-text-orange {
  color: white;
  background: $bgcolor2 ;
  padding-top: 25px;
 
  font-family: "Optima", sans-serif;
}

.article-text-orange {
  color: white;
  background: $bgcolor2;
  padding-top: 25px;
 
  font-family: "Optima", sans-serif;
}

.article-text-orange {
 
  padding-bottom: 100px;
  padding-top: 25px;

  font-family: "Optima", sans-serif;
}

.article-image-orange {
  position: relative;
  padding-bottom: 50px;
  padding-top: 25px;
 
}
.article-image-orange img {
  height: 400px;
  width: 600px;
  display: grid;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;

}

.main_logo_footer{
  width:220px;
  height:220px;
  margin-left: px;
  
}

.sponser{
  background-color: $bgcolor3;
}

.sponser_logo{
  width: 300px;
  height: 200px;
}


@media (max-width: 1600px)  {
  .kids{
    width: 300px;
    height: 300px;
  }

}

@media (max-width: 1200px)  {
  .kids {
   
    position: relative;
    right: 400px;
   
  }

  .video_longhorn{
    width: 300px;
  }
  .main_logo_footer{
    width:150px;
    height:150px;
    margin-left: px;
    
  }
  .viking {
    height: 200px;


  }
  .share2{
  
  }
  .share{
    position: relative;
    margin-right: 100px;
  }
  .navbar-brand{

  }


}
@media (max-width: 980px)  {
  .heading_1 {
    font-size: 60px;
   
  }
  .video_longhorn{
    width: 250px;
  }
  .kids{
    position: relative;
    left: 60px;
  }
  .heading_2 {
    font-size: 50px;
    
  }

  .footer{
    height: 500px;
  }

  .main_logo_footer{
    width:120px;
    height:120px;
    margin-left: px;
    
  }
  .footer_col{
    font-size: 20px;

  }
  .sponser_logo{
    width: 200px;
    height: 100px;
  }
  
  .share2{
  
  }
  .share{
    position: relative;
    margin-right: 100px;
  }
  .navbar-brand{

  }

  .viking{
    height: 200px;
  }
  .kids_text{
    top: 10px;
  }

  .main_logo1{
    
      width:200px;
      height:200px;
    
  }

  .heading_1{
    font-size: 50px;
    padding-top: 40px;
    padding-right: px 
  }
  .heading_2{
    font-size: 50px;
    padding-top: px;
    
  }
  }
  .subheading_1{
    font-size: 30px;
    padding-bottom: 150px;
    
    width: 200px;
  }

  .topnav a{
    position: relative;
    right: 20px;
    font-size: 15px;
    width: 10px;
    padding: 1px 1px 1px 1px;
top: 20px;
  }
.navbar-navbar-text{
  width: 800px;
}
  .navbar-brand img{
   position: relative;
   right: 70px;
    
  }

  .navbar-text{
    position: relative;
    right: 20px;
  }
  .topnav{
    overflow: hidden;
    background-color: #242323;
  height: 80px;

  }
  .dk-buttom{
    display: none;
  }



@media (max-width: 700px) {
.info_left_text{
  position: relative;

}
.video_longhorn{
  position: relative;
  top: 135px;
  width: 200px;
}
.footer{
  height: 500px;
}

.main_logo_footer{
  width:80px;
  height: 80px;
  padding-right: 10px;
  
}

.sponser_logo{
  width: 200px;
  height: 100px;
}

.footer_col{
  font-size: 10px;
  

}

.viking{
    height: 150px;
  }

.share{
  margin-top: 40px;
}
.viking{
  height: 100px;
}
.kids_text{
  top: 10px;
}

.main_logo1{
  
    width:200px;
    height:200px;
  
}

.heading_1{
  font-size: 50px;
  padding-top: 40px;
  padding-right: px 
}
.heading_2{
  font-size: 30px;
  padding-left: 50px;
}
.subheading_1{
  font-size: 30px;
  padding-bottom: 150px;
  padding-left: 100px;
  width: 200px;
}

.topnav a{
  position: relative;
  
  font-size: 15px;
  width: 10px;
 
top: 20px;
}


.navbar-brand img{
  
  position: relative;
  right: 210px;
  
}
.topnav{
  overflow: hidden;
  background-color: #242323;
height: 100px;

}
.dk-buttom{
  position: relative;
  bottom: 50px;
  left: 70px;
}

}

@media (max-width: 699px) {
  .viking{
    height: 100px;
    left: 110px;
  }

  .kids_heading_3{
    position: relative;
    right: 75px;
    bottom: 90px;
  }
  .kids_text_3{
    position: relative;
    right: 75px;
    bottom: 90px;
    font-size: 13px;
  }

  .kids_heading_4{
    position: relative;
    right: 75px;
    bottom: 100px;
  }
  .kids_text_4{
    position: relative;
    right: 75px;
    bottom: 100px;
    font-size: 13px;
  }
  .kids_heading_1{
    position: relative;
    right: 75px;
    top: 290px;
    left: 120px;
  }

  .kids_text_1{
    position: relative;
    left: 120px;
    top: 290px;
    font-size: 13px;
  }
  .kids_heading_2{
    position: relative;
    right: 75px;
    top: 280px;
    left: 120px;
  }

  .kids_text_2{
    position: relative;
    left: 120px;
    top: 280px;
    font-size: 13px;
  }

  .kids_text{
    position: relative;
    top: 200px;
    font-size: 10px;
    right: 50px;
  }

  .main_logo1{
    position: relative;
    left: 45px;
   
      width:200px;
      height:200px;
    
  }

  .heading_1{
    font-size: 40px;

  }
  .heading_2{
    font-size: 30px;
   
    padding-top: 10px;
  }
  .subheading_1{
    font-size: 30px;
    padding-bottom: 50px;
    
   
  }

  .topnav a{
    position: relative;
    right: 50px;
    font-size: 15px;
    width: 10px;
    padding: 1px 1px 1px 1px;
top: 20px;
  }

  .navbar-brand img{
  
    position: relative;
    right: 210px;
    
  }
  .topnav{
    overflow: hidden;
    background-color: #242323;
  height: 80px;

  }
  .dk-buttom{
 display: none;
  }
.article_photo{
  position: relative;
  top: 35px;
}

.article_red{
  position: relative;
  top: 72px;
}
  .blue_subheading1{
    font-size: 12px;
  }
  
}